<section>
    <form name="greetingForm" ng-submit="greetingForm.$valid && controller.addFilm()" novalidate>
        <!--  Greeting Live Preview -->
        <div ng-show="controller.newFilm.title">
            <h5>Preview your Film</h5>
            <blockquote>
            Title:{{controller.newFilm.title}}    -- by {{controller.newFilm.email}} on {{controller.newFilm.date | date}}
            </blockquote>
			<blockquote>
			Year:{{controller.newFilm.year}}
			</blockquote>
			<blockquote>
			Mpaa_Rating:{{controller.newFilm.mpaa_rating}}
			</blockquote>
			<blockquote>
			Synopsis:{{controller.newFilm.synopsis}}
			</blockquote>
			<blockquote>
			Runtime:{{controller.newFilm.runtime}} 
			</blockquote>
			
        </div>

        <!--  Greeting Form -->
		<fieldset class="form-group">
            <input type="email" ng-model="controller.newFilm.email" class="form-control" placeholder="And your e-mail..." title="Author" required/>
        </fieldset>
        <fieldset class="form-group">
            <textarea ng-model="controller.newFilm.title" class="form-control" placeholder="Write your Title..." title="Film" required></textarea>
        </fieldset>
		<fieldset class="form-group">
            <textarea ng-model="controller.newFilm.year" class="form-control" placeholder="Write your Year..." title="Film" required></textarea>
        </fieldset>
		<fieldset class="form-group">
            <textarea ng-model="controller.newFilm.mpaa_rating" class="form-control" placeholder="Write your mpaa rating..." title="Film" required></textarea>
        </fieldset>
		<fieldset class="form-group">
            <textarea ng-model="controller.newFilm.runtime" class="form-control" placeholder="Write your runtime.." title="Film" required></textarea>
        </fieldset>
		<fieldset class="form-group">
            <textarea ng-model="controller.newFilm.synopsis" class="form-control" placeholder="Write your synopsis..." title="Film" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit New Film"/>
        </fieldset>
    </form>
</section>
