<!doctype html>
<html ng-app="greetingsJS">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body class="list-group" ng-controller="GreetingsController as controller">
    <header>
        <h1 class="text-center">GreetingsApp</h1>
        <h2 class="text-center">The AngularJS Client</h2>
    </header>
    <div  ng-repeat="greeting in controller.greetings">
        <greeting-tab></greeting-tab>
    </div>
    <div>
        <h3>Add new greeting...</h3>
        <section>
            <form name="greetingForm" ng-submit="greetingForm.$valid && controller.addGreeting()" novalidate>
                <!--  Greeting Live Preview -->
                <h4>Preview your greentig</h4>
                <blockquote>
                    {{controller.newGreeting.content}} -- by {{controller.newGreeting.user}} on {{controller.newGreeting.when | date}}
                </blockquote>

                <!--  Greeting Form -->
                <h4>Add a Greeting</h4>
                <fieldset class="form-group">
                    <textarea ng-model="controller.newGreeting.content" class="form-control" placeholder="Write your greeting..." title="Greeting" required></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <textarea type="email" ng-model="controller.newGreeting.user" class="form-control" placeholder="And your e-mail..." title="Author" required></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Submit Greeting"/>
                </fieldset>
            </form>
        </section>
    </div>
</body>
</html>
